{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
    <div class="page-header">
		<h1>About</h1>
            </div>
	    <div>

        <button id="about-btn"> Click Me - I'm Javascript on Speed</button>



	    <p>This is a example</p>

            <p>This is another example</p>

            <div id="msg">Hello</div>

	    <img  width="90" height="100" src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
	    </div>
{% endblock %}

